<!doctype html>
<title>{{ title if title else "MovieStreamApp" }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<header class="main-header">
    <h1>MovieStreamApp</h1>

    <nav class="top-menu">
        <a href="/" class="{{ 'active' if current_page == 'home' else '' }}">Home Page</a>
        <a href="/shows/" class="{{ 'active' if current_page == 'movies' else '' }}">Movies</a>
        <a href="/people/" class="{{ 'active' if current_page == 'people' else '' }}">People</a>
        <a href="/genres/" class="{{ 'active' if current_page == 'genres' else '' }}">Genres</a>
        <a href="/production-companies/" class="{{ 'active' if current_page == 'companies' else '' }}">Production Companies</a>
        <a href="/faq/" class="{{ 'active' if current_page == 'faq' else '' }}">FAQ</a>
    </nav>
</header>

<section class="content">
  {% block content %}{% endblock %}
</section>
