{% extends "base.html" %}
{% set current_page = "movies" %}

{% block content %}
<h1>{{ movie.title }}</h1>

<h2>Information</h2>
<ul>
    <li><strong>ID:</strong> {{ movie.show_id }}</li>
    <li><strong>Release Date:</strong> {{ movie.releaseDate }}</li>
    <li><strong>Rating:</strong> {{ movie.rating }}</li>

    {% if movie.num_seasons != 0 %}
        <li><strong>Number of seasons:</strong> {{ movie.num_seasons }}</li>
        <li><strong>Duration of each episode:</strong> {{ movie.duration }}</li>
    {% else %}
        <li><strong>Duration:</strong> {{ movie.duration }}</li>
    {% endif %}

    <li>
        <strong>Genres:</strong>
        {% if genres %}
            {% for g in genres %}
                {{ g.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            No genres in dataset
        {% endif %}
    </li>

    <li><strong>Tagline:</strong> {{ movie.tagline }}</li>
    <li><strong>Description:</strong> {{ movie.description }}</li>
</ul>

<h2>Main actors</h2>
{% if actors %}
<ul>
    {% for a in actors %}
        <li><a href="/person/{{ a.person_id }}/">{{ a.name }}</a>{% if not loop.last %}, {% endif %}</li>
    {% endfor %}
</ul>
{% else %}
<p>No actors in dataset</p>
{% endif %}

<h2>Production Team</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for c in creators %}
        <tr>
            <td><a href="/person/{{ c.person_id }}/">{{ c.name }}</a></td>
            <td>Creator</td>
        </tr>
        {% endfor %}

        {% for w in writers %}
        <tr>
            <td><a href="/person/{{ w.person_id }}/">{{ w.name }}</a></td>
            <td>Writer</td>
        </tr>
        {% endfor %}

        {% for d in directors %}
        <tr>
            <td><a href="/person/{{ d.person_id }}/">{{ d.name }}</a></td>
            <td>Director</td>
        </tr>
        {% endfor %}

        {% for p in producers %}
        <tr>
            <td><a href="/production-companies/{{ p.producer_id }}/">{{ p.name }}</a></td>
            <td>Producer</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Scores</h2>
{% if scores %}
<ul>
    {% for s in scores %}
        <li><strong>Metascore:</strong> {{ s.metascore }}/100</li>
        <li><strong>Userscore:</strong> {{ s.userscore }}/100</li>
    {% endfor %}
</ul>
{% else %}
<p>No scores available</p>
{% endif %}
{% endblock %}

