{% extends "base.html" %}
{% set current_page = "faq" %}

{% block content %}
<h1>Maior metascore por género</h1>

<table>
    <thead>
        <tr>
            <th>Género</th>
            <th>Título</th>
            <th>Metascore</th>
        </tr>
    </thead>
    <tbody>
        {% for row in p1 %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.title }}</td>
            <td>{{ row.metascore }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
