{% extends "base.html" %}

{% block content %}
<h1>Genre with Highest Metascore by Decade</h1>

<table class="styled-table">
    <thead>
        <tr>
            <th>Decade</th>
            <th>Genre</th>
            <th>Max Metascore</th>
        </tr>
    </thead>
    <tbody>
        {% for row in p12 %}
        <tr>
            <td>{{ row.decade }}</td>
            <td>{{ row.genre }}</td>
            <td>{{ row.max_metascore }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
