{% extends "base.html" %}

{% block content %}
<h1>Genre with Highest Userscore by Decade</h1>

<table class="styled-table">
    <thead>
        <tr>
            <th>Decade</th>
            <th>Genre</th>
            <th>Max Userscore</th>
        </tr>
    </thead>
    <tbody>
        {% for row in p13 %}
        <tr>
            <td>{{ row.decade }}</td>
            <td>{{ row.genre }}</td>
            <td>{{ row.max_userscore }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
