{% extends "base.html" %}

{% block content %}
<h1>Show with highest metascore each year</h1>

<table class="styled-table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Title</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in p5 %}
        <tr>
            <td>{{ row.year }}</td>
            <td>{{ row.title }}</td>
            <td>{{ row.releaseDate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
