{% extends "base.html" %}

{% block content %}
<h1>Shows with the same main cast in different years</h1>

<table class="styled-table">
    <thead>
        <tr>
            <th>Show 1</th>
            <th>Year 1</th>
            <th>Show 2</th>
            <th>Year 2</th>
        </tr>
    </thead>
    <tbody>
        {% for row in p7 %}
        <tr>
            <td>{{ row.show_1_title }}</td>
            <td>{{ row.show_1_year }}</td>
            <td>{{ row.show_2_title }}</td>
            <td>{{ row.show_2_year }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
