{% extends "base.html" %}
{% set current_page = "production-companies" %}

{% block content %}
<h1>Production company: {{ info.producer_name }}</h1>

<h2>Information</h2>
<ul>
    <li><strong>Number of movies made by this production company:</strong> {{ info.total }}</li>
</ul>

<h2>Movie list</h2>
<ul class="list-line">
    {% for m in movies %}
        <li>
            <a href="/shows/{{ m.show_id }}/" class="list-line-link">
                {{ m.show_id }} - {{ m.title }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
